<p>&nbsp;</p>\n\n<p style=\"text-align:justify\"><span style=\"font-size:11pt\"><span
            style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\"><strong>1.
                    Objetivo</strong></span></span></span></p>\n\n<p style=\"text-align:justify\"><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\">Este
                documento tiene como objetivo la planificaci&oacute;n, seguimientos, responsables y aseguramiento de las
                actividades del proyecto.</span></span></span><span style=\"font-size:11pt\"><span
            style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\">&nbsp;</span></span></span></p>\n\n<p
    style=\"text-align:justify\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\"><strong>2. Alcance</strong></span></span></span></p>\n\n<p
    style=\"text-align:justify\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\">Este procedimiento aplica a todos los par&aacute;metros correspondientes al
                alcance del proyecto y sus responsables.</span></span></span><span style=\"font-size:11pt\"><span
            style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\">&nbsp;</span></span></span></p>\n\n<p
    style=\"text-align:justify\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\"><strong>3. Referencia Normativa</strong></span></span></span></p>\n\n<p
    style=\"text-align:justify\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\">ISO 9001:2015, ISO 27001</span></span></span></p>\n\n<p
    style=\"text-align:justify\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\"><strong>4. Definiciones</strong></span></span></span></p>\n\n<p
    style=\"text-align:justify\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\">Para efectos de la interpretaci&oacute;n de este documento, se aplicar&aacute;n
                las siguientes definiciones:</span></span></span></p>\n\n<p style=\"text-align:justify\"><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\"><strong>Cliente prospecto:</strong></span></span></span><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\">
            </span></span></span><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#222222\"><span style=\"background-color:#ffffff\">es decir, aquellas personas o empresas
                    con las que todav&iacute;a no hemos iniciado una relaci&oacute;n comercial pero que son potenciales
                    compradores</span></span></span></span></p>\n\n<p style=\"text-align:justify\"><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\"><strong>Cliente:</strong></span></span></span><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\">
            </span></span></span><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#222222\"><span style=\"background-color:#ffffff\">Un cliente es la persona o empresa
                    receptora de un bien, servicio, producto o idea, a cambio de dinero u otro art&iacute;culo de
                    valor.</span></span></span></span><span style=\"font-size:11pt\"><span
            style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\">&nbsp;</span></span></span></p>\n\n<p
    style=\"text-align:justify\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\"><strong>Redes sociales.</strong></span></span></span><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#222222\"><span
                    style=\"background-color:#ffffff\"><strong> </strong></span></span></span></span><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#222222\"><span
                    style=\"background-color:#ffffff\">Una red social es una estructura social compuesta por un conjunto
                    de usuarios que est&aacute;n relacionados de acuerdo a alg&uacute;n
                    criterio.&nbsp;</span></span></span></span></p>\n\n<p style=\"text-align:justify\"><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#222222\"><span
                    style=\"background-color:#ffffff\"><strong>Marketing. </strong></span></span></span></span><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#222222\"><span
                    style=\"background-color:#ffffff\">Conjunto de t&eacute;cnicas y estudios que tienen como objeto
                    mejorar la comercializaci&oacute;n de un servicio y/o producto.</span></span></span></span></p>\n\n
<p style=\"text-align:justify\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#222222\"><span style=\"background-color:#ffffff\"><strong>Proyecto.
                    </strong></span></span></span></span><span style=\"font-size:11pt\"><span
            style=\"font-family:Arial,sans-serif\"><span style=\"color:#222222\"><span
                    style=\"background-color:#ffffff\">Un proyecto es una planificaci&oacute;n que consiste en un
                    conjunto de actividades que se encuentran interrelacionadas y
                    coordinadas.</span></span></span></span><br />\n&nbsp;</p>\n\n<p><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\"><strong>5.
                    Contenido</strong></span></span></span></p>\n\n<p>&nbsp;</p>\n\n<p style=\"text-align:justify\">
    <span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\"><strong>5.1 Planificaci&oacute;n del proyecto</strong></span></span></span>
</p>
\n\n<table align=\"center\" cellspacing=\"0\" style=\"border-collapse:collapse; width:895px\">\n <thead>\n <tr>\n <td
                style=\"border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black;
                border-top:1px solid black; vertical-align:top; width:82px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><strong><span
                                    style=\"font-size:11.0pt\"><span
                                        style=\"color:black\">PASO</span></span></strong></span></span></p>\n </td>\n
            <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px
                solid black; vertical-align:top; width:397px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><strong><span
                                    style=\"font-size:11.0pt\"><span
                                        style=\"color:black\">ACTIVIDAD</span></span></strong></span></span></p>\n </td>
            \n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:1px
                solid black; vertical-align:top; width:203px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><strong><span
                                    style=\"font-size:11.0pt\"><span
                                        style=\"color:black\">RESPONSABLE</span></span></strong></span></span></p>\n
            </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:1px solid black; vertical-align:top; width:221px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><strong><span
                                    style=\"font-size:11.0pt\"><span
                                        style=\"color:black\">REGISTRO</span></span></strong></span></span></p>\n </td>
            \n
        </tr>\n <tr>\n <td style=\"border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid
                black; border-top:none; vertical-align:top; width:82px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">&nbsp;&nbsp;
                                    1</span></span></span></span></p>\n </td>\n <td style=\"border-bottom:1px solid
                black; border-left:none; border-right:1px solid black; border-top:none; width:397px\">\n <p
                    style=\"text-align:justify\"><span style=\"font-size:10pt\"><span
                            style=\"font-family:Arial,sans-serif\"><span style=\"font-size:11.0pt\"><span
                                    style=\"color:black\">El </span>Director de Tecnolog&iacute;a<span
                                    style=\"color:black\"> posterior al contrato debidamente firmado, establece los
                                    d&iacute;as en que se </span>ejecutar&aacute;n<span style=\"color:black\"> las
                                    actividades.</span></span></span></span></p>\n </td>\n <td style=\"border-bottom:1px
                solid black; border-left:none; border-right:1px solid black; border-top:none; vertical-align:top;
                width:203px\">\n <p style=\"text-align:justify\">&nbsp;</p>\n\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">Director</span></span><span
                                style=\"font-size:11.0pt\"> <span style=\"color:black\">de
                                </span>Tecnolog&iacute;a</span></span></span></p>\n </td>\n <td
                style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none;
                vertical-align:top; width:221px\">\n <p style=\"text-align:center\"><span style=\"font-size:10pt\"><span
                            style=\"font-family:Arial,sans-serif\"><span style=\"font-size:11.0pt\"><span
                                    style=\"color:black\">Plan de trabajo- Software control de
                                    proyectos</span></span></span></span></p>\n </td>\n </tr>\n <tr>\n <td
                style=\"border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black;
                border-top:none; vertical-align:top; width:82px\">\n <p style=\"text-align:center\">&nbsp;</p>\n\n <p
                    style=\"text-align:center\">&nbsp;</p>\n\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">2</span></span></span></span></p>
                \n\n <p style=\"text-align:center\">&nbsp;</p>\n\n <p style=\"text-align:center\">&nbsp;</p>\n </td>\n
            <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none;
                vertical-align:top; width:397px\">\n <p style=\"text-align:justify\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">El </span>Director de
                                Tecnolog&iacute;a<span style=\"color:black\"> con la informaci&oacute;n del contrato y
                                    los d&iacute;as de la semana en que se </span>ejecutar&aacute;n<span
                                    style=\"color:black\"> las actividades, parametriza el proyecto en el software,
                                    asignando los responsables por parte del cliente y los responsables asignados para
                                    la ejecuci&oacute;n de la actividad; el software proyecta el plan de trabajo
                                    seg&uacute;n los d&iacute;as establecidos.</span></span></span></span></p>\n </td>\n
            <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none;
                vertical-align:top; width:203px\">\n <p style=\"text-align:center\">&nbsp;</p>\n\n <p
                    style=\"text-align:center\">&nbsp;</p>\n\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\">Director de Tecnolog&iacute;a</span></span></span></p>\n
            </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:none; vertical-align:top; width:221px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">Software control de
                                    proyectos</span></span></span></span></p>\n\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">Contrato de
                                    proyecto</span></span></span></span></p>\n </td>\n
        </tr>\n <tr>\n <td style=\"border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid
                black; border-top:none; vertical-align:top; width:82px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">3</span></span></span></span></p>
                \n </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:none; vertical-align:top; width:397px\">\n <p style=\"text-align:justify\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">Una vez parametrizado el proyecto
                                    en el software, se </span></span><span style=\"font-size:11.0pt\">validan<span
                                    style=\"color:black\"> las fechas asignadas por el software y se ajusta seg&uacute;n
                                    disponibilidad de agenda de los responsables.</span></span></span></span></p>\n
            </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:none; vertical-align:top; width:203px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\">Director de Tecnolog&iacute;a</span></span></span></p>\n
            </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:none; vertical-align:top; width:221px\">\n <p style=\"text-align:justify\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">Software control de
                                    proyectos</span></span></span></span></p>\n </td>\n </tr>\n <tr>\n <td
                style=\"border-bottom:1px solid black; border-left:1px solid black; border-right:1px solid black;
                border-top:none; vertical-align:top; width:82px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">4</span></span></span></span></p>
                \n </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:none; vertical-align:top; width:397px\">\n <p style=\"text-align:justify\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">Se valida que los responsables de
                                    las actividades est&eacute;n debidamente asignados, en caso contrario se ajustan en
                                    el apartado de proceso de la actividad.</span></span></span></span></p>\n </td>\n
            <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none;
                vertical-align:top; width:203px\">\n <p style=\"text-align:center\"><span style=\"font-size:10pt\"><span
                            style=\"font-family:Arial,sans-serif\">&nbsp;<span style=\"font-size:11.0pt\">Director de
                                Tecnolog&iacute;a</span></span></span></p>\n </td>\n <td style=\"border-bottom:1px solid
                black; border-left:none; border-right:1px solid black; border-top:none; vertical-align:top;
                width:221px\">\n <p style=\"text-align:justify\"><span style=\"font-size:10pt\"><span
                            style=\"font-family:Arial,sans-serif\"><span style=\"font-size:11.0pt\"><span
                                    style=\"color:black\">Software control de proyectos</span></span></span></span></p>
                \n </td>\n
        </tr>\n </thead>\n <tbody>\n <tr>\n <td style=\"border-bottom:1px solid black; border-left:1px solid black;
                border-right:1px solid black; border-top:none; width:82px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">5</span></span></span></span></p>
                \n </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:none; width:397px\">\n <p style=\"text-align:justify\"><span style=\"font-size:10pt\"><span
                            style=\"font-family:Arial,sans-serif\"><span style=\"font-size:11.0pt\"><span
                                    style=\"color:black\">Los soportes de la actividad deben ser cargados por el
                                    responsable asignado a las actividades y as&iacute; mismo validar si los soportes
                                    logran cumplir la actividad para darla por cerrada.</span></span></span></span></p>
                \n\n <p style=\"text-align:justify\">&nbsp;</p>\n </td>\n <td style=\"border-bottom:1px solid black;
                border-left:none; border-right:1px solid black; border-top:none; vertical-align:top; width:203px\">\n <p
                    style=\"text-align:justify\">&nbsp;</p>\n\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\">Director de Tecnolog&iacute;a</span></span></span></p>\n\n <p
                    style=\"text-align:justify\">&nbsp;</p>\n </td>\n <td style=\"border-bottom:1px solid black;
                border-left:none; border-right:1px solid black; border-top:none; width:221px\">\n <p
                    style=\"text-align:justify\"><span style=\"font-size:10pt\"><span
                            style=\"font-family:Arial,sans-serif\"><span style=\"font-size:11.0pt\"><span
                                    style=\"color:black\">Software control de proyectos</span></span></span></span></p>
                \n </td>\n </tr>\n <tr>\n <td style=\"border-bottom:1px solid black; border-left:1px solid black;
                border-right:1px solid black; border-top:none; width:82px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\"><span style=\"color:black\">6</span></span></span></span></p>
                \n </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:none; width:397px\">\n <p style=\"text-align:justify\"><span style=\"font-size:10pt\"><span
                            style=\"font-family:Arial,sans-serif\"><span style=\"font-size:11.0pt\"><span
                                    style=\"color:black\">El </span>Director de Tecnolog&iacute;a<span
                                    style=\"color:black\"> realiza seguimiento a las actividades en el software, de
                                    acuerdo al plan de trabajo estipulado, si alguna de ellas no se cumpli&oacute; en
                                    los tiempos previstos se registra una actividad adicional o un compromiso en el cual
                                    se establece una fecha para ejecutar y este ser&aacute; enviado al responsable
                                    asignado por el cliente para ejecutar la actividad.</span></span></span></span></p>
                \n </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:none; vertical-align:top; width:203px\">\n <p style=\"text-align:justify\">&nbsp;</p>\n\n <p
                    style=\"text-align:justify\">&nbsp;</p>\n\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\">Director de Tecnolog&iacute;a</span></span></span></p>\n\n <p
                    style=\"text-align:justify\"><span style=\"font-size:10pt\"><span
                            style=\"font-family:Arial,sans-serif\">&nbsp;</span></span></p>\n </td>\n <td
                style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none;
                width:221px\">\n <p style=\"text-align:justify\"><span style=\"font-size:10pt\"><span
                            style=\"font-family:Arial,sans-serif\"><span style=\"font-size:11.0pt\"><span
                                    style=\"color:black\">Software control de proyectos</span></span></span></span></p>
                \n </td>\n </tr>\n <tr>\n <td style=\"border-bottom:1px solid black; border-left:1px solid black;
                border-right:1px solid black; border-top:none; width:82px\">\n <p style=\"text-align:center\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\">

                            <span style=\"font-size:11.0pt\"><span style=\"color:black\">7</span></span></span></span></p>
                \n </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:none; width:397px\">\n <p style=\"text-align:justify\"><span style=\"font-size:10pt\"><span
                            style=\"font-family:Arial,sans-serif\"><span style=\"font-size:11.0pt\"><span
                                    style=\"color:black\">El </span>Director de Tecnolog&iacute;a<span
                                    style=\"color:black\"> realiza seguimiento a las actividades adicionales/compromisos
                                    adquiridos e informa si hay novedades en el cumplimiento</span></span></span></span>
                </p>\n </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid
                black; border-top:none; vertical-align:top; width:203px\">\n <p style=\"text-align:justify\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\">&nbsp; &nbsp; &nbsp; &nbsp;</span></span></span><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\">Director de Tecnolog&iacute;a</span></span></span></p>\n
            </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:none; width:221px\">\n <p style=\"text-align:justify\"><span style=\"font-size:10pt\"><span
                            style=\"font-family:Arial,sans-serif\"><span style=\"font-size:11.0pt\"><span
                                    style=\"color:black\">Software control de proyectos</span></span></span></span></p>
                \n </td>\n </tr>\n <tr>\n <td style=\"border-bottom:1px solid black; border-left:1px solid black;
                border-right:1px solid black; border-top:none; text-align:center; width:82px\">\n <p style="text-align:center;">
                    <span style=\"font-size:11.0pt\"><span style=\"color:#000000\ ">8</span></span></span></span></p>\n
            </td>\n <td style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black;
                border-top:none; width:397px\">\n <p style=\"text-align: justify;\"><span style=\"font-size:14px\"><span
                            style=\"color:#000000\">Liberaci&oacute;n del servicio.<br />\n Para los procesos de
                            implantaci&oacute;n de sistema de gesti&oacute;n se logra con el alcance de la
                            certificaci&oacute;n proyectada o el mantenimiento del sistema de gesti&oacute;n, en caso de
                            ser otro tipo de servicios este se liberar por medio de un oficio donde la empresa
                            recibe&nbsp;a&nbsp;satisfacci&oacute;n.</span></span></p>\n </td>\n <td
                style=\"border-bottom:1px solid black; border-left:none; border-right:1px solid black; border-top:none;
                vertical-align:top; width:203px\">\n <p>&nbsp;</p>\n\n <p style=\"text-align: center;\"><span
                        style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                                style=\"font-size:11.0pt\">&nbsp; &nbsp; &nbsp;Director de
                                Tecnolog&iacute;a</span></span></span></p>\n </td>\n <td style=\"border-bottom:1px solid
                black; border-left:none; border-right:1px solid black; border-top:none; width:221px\"><span
                    style=\"font-size:10pt\"><span style=\"font-family:Arial,sans-serif\"><span
                            style=\"font-size:11.0pt\"><span style=\"color:black\">Software control de
                                proyectos</span></span></span></span></td>\n </tr>\n </tbody>\n</table>\n\n<p>&nbsp;</p>
\n\n<p><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\"><strong>5.2 Mecanismo para ajustar los responsables de las
                    actividades.</strong></span></span></span></p>\n\n<p style=\"text-align:justify\"><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\">En el
                software de proyectos una vez parametrizado, se puede cambiar el responsable de ejecutar la actividad
                por parte del cliente mediante la reasignaci&oacute;n del proceso. Si se requiere cambiar el responsable
                por parte del cliente de una actividad en espec&iacute;fico, se deber&aacute; posicionar en la actividad
                y darle clic en el apartado proceso, le saldr&aacute; una ventana donde podr&aacute; re asignar el
                proceso encargado de dicha actividad.</span></span></span></p>\n\n<p>&nbsp;</p>\n\n<p
    style=\"text-align:justify\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\"><strong>5.3 Mecanismo para registrar y consultar las actividades adicionales del
                    proyecto con el cliente</strong></span></span></span></p>\n\n<p style=\"text-align:justify\"><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\">Cuando una
                actividad ha sobrepasado el tiempo estipulado para su ejecuci&oacute;n, se deber&aacute; realizar
                actividades adicionales para su cumplimiento o compromisos para su ejecuci&oacute;n, este mecanismo se
                realiza mediante el apartado &ldquo;Registro de compromisos&rdquo;, aparecer&aacute; una ventana donde
                registrar&aacute; el compromiso o la actividad adicional junto con su fecha esperada de
                ejecuci&oacute;n.&nbsp;</span></span></span><br />\n&nbsp;</p>\n\n<p style=\"text-align:justify\"><span
        style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\">Para la
                validaci&oacute;n y verificaci&oacute;n de los compromisos o actividades adicionales deber&aacute; ir al
                apartado &ldquo;Ver compromisos&rdquo; en donde le saldr&aacute; una ventana con todas las actividades
                y/o compromisos adquiridos, para validarlos deber&aacute; dar en la opci&oacute;n &ldquo;validar
                ejecuci&oacute;n&rdquo;, le saldr&aacute; una nueva ventana donde se deber&aacute; poner la fecha de
                validaci&oacute;n y si se cumpli&oacute; o no.</span></span></span></p>\n\n<p
    style=\"text-align:justify\">&nbsp;</p>\n\n<p style=\"text-align:justify\"><span style=\"font-size:11pt\"><span
            style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\"><strong>5.4 Seguridad de la
                    informaci&oacute;n en la gesti&oacute;n de proyectos</strong></span></span></span></p>\n\n<p
    style=\"text-align:justify\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                style=\"color:#000000\">Para la empresa la informaci&oacute;n de los proyectos es algo de suma
                importancia por ello tenemos contemplado en el software de proyectos los siguientes puntos que busca
                reforzar la seguridad.</span></span></span></p>\n\n<ul>\n <li style=\"list-style-type:disc\"><span
            style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span style=\"color:#000000\">En el
                    software se establecer&aacute; los usuarios con sus respectivas contrase&ntilde;as de los actores
                    que participaran en la realizaci&oacute;n del proyecto, cada uno con un rol distinto y proporcional
                    a los permisos en la aplicaci&oacute;n.</span></span></span></li>\n <li
        style=\"list-style-type:disc\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                    style=\"color:#000000\">Mediante la asignaci&oacute;n de responsables de las actividades podemos
                    darnos cuenta en el software si se cumplen o no las actividades en los tiempos previstos igual que
                    el manejo de los compromisos, de esta forma llevamos un control de la informaci&oacute;n como
                    mecanismo para alcanzar los objetivos contratados.</span></span></span></li>\n <li
        style=\"list-style-type:disc\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                    style=\"color:#000000\">El software permite llevar un seguimiento de las actividades de forma que se
                    puede evidenciar si hay novedades o no.</span></span></span></li>\n <li
        style=\"list-style-type:disc\"><span style=\"font-size:11pt\"><span style=\"font-family:Arial,sans-serif\"><span
                    style=\"color:#000000\">Al cargar los soportes solo se permitir&aacute; formatos .pdf, enlaces
                    directos a drive y enlaces al control documental.</span></span></span></li>\n</ul>\n